@charset "UTF-8";

/* ログイン時に背景色が変わる */
body.logged-in{
	background-color: 	#FFC7AF	
}

/*画面全体*/
#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    padding-bottom: 100px;
}

/*見出し*/
#wrapper h1 {
    text-align: center;
    font-size: 30px;
    position: relative;
    color: #333333;
    -webkit-box-reflect: below -10px -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .5));
    
}

/*画面の余白無し*/
html, body {
  margin: 0;
  padding: 0;
}

/*エラーメッセージ*/
.error-message {
	color:red;
	font-weight: bold;
	text-align: center;
	margin: 20px 0;
}

/*ボタン*/
.btn{
    width: 150px;
    border: 1px solid #997769;
    border-radius: 5px;
    background-color: #fff;
    color: #997769;
    font-size: 1em;
    padding: 12px;
}

/*戻るボタン*/
.back-btn {
	width: 70px;
    border: 1px solid #997769;
    border-radius: 5px;
    background-color: #fff;
    color: #997769;
    font-size: 1em;
    padding: 12px;
}

/*検索ボタン*/
.search-btn {
    border: 1px solid #997769;
    border-radius: 5px;
    background-color: #fff;
    color: #997769;
    font-size: 1em;
    padding: 5px;
}

/*ボタンホバー*/
.btn:hover, .back-btn:hover, .search-btn:hover {
    border: none;
    background-color: #997769;
    color: #fff;
    font-weight: 600;
}

/*aタグの下線削除*/
.back-btn, a {
	text-decoration: none;    /* 下線も消す場合 */
	text-align: center;
}