@charset "UTF-8";

/*会員関連画面全体の背景色*/
body {
	background-color: #CBFFD3;
}

.menu-buttons{
	display: flex;
    flex-direction: column; /* ボタンを縦に並べる */
    gap: 30px; /* ボタン間のスペース */
    margin-top: 60px; /* 上からの余白 */
}

