@charset "UTF-8";

/* ページ全体 */
body {
	background-color: #e0ffff;
}

/* メニューボタン全体 */
.menu-buttons {
    display: flex;
    flex-direction: column; /* ボタンを縦に並べる */
    gap: 30px; /* ボタン間のスペース */
    margin-top: 60px; /* 上からの余白 */
}

/* メニューボタンの幅 */
.menu-buttons .btn {
    width: 200px; /* ボタン幅を統一 */
    margin: auto;
}

/* 選択ボタン全体 */
.action-buttons {
    text-align: center; /* 中央揃え */
    margin-top: 10px;   /* 上に少し余白 */
    gap: 20px;          /* ボタン間にスペース */
    display: flex;
    justify-content: center;
}

/* エラーメッセージ */
.message-center {
    text-align: center;
    color: red;
    font-weight: bold;
}

/* 確認テーブル全体 */
.table {
	margin-top: 60px;
	background-color: white;
	padding: 20px 40px;
	border: 1px solid black;
	border-radius: 5px;
}

/* 確認テーブル */
.info-item {
	margin-bottom: 10px;
	padding: 15px;
	text-align: center;
}

/*注釈*/
.item-Note {
	margin: 40px auto 0 ;
	text-align: center;
}