@charset "UTF-8";

.menu-buttons {
    display: flex;
    flex-direction: column; /* ボタンを縦に並べる */
    gap: 20px; /* ボタン間のスペース */
    margin-top: 40px; /* 上からの余白 */
}

.menu-buttons .btn {
    width: 200px; /* ボタン幅を統一 */
    margin: auto;
}
