@charset "UTF-8";


#member-regist{
	width: 500px;
	margin-top: 30px
}

.regist-form {
  display: flex;
  flex-direction: column; 
  margin-bottom: 1rem; 
}

.buttons {
	display: flex;
  	flex-direction: column; 
  	align-items: center; 
  	text-align: center;
  	margin-bottom: 20px;
}

.required {
	color: #FF0461;
	margin-left: 10px;
}

.btn,
.danger-button,
.back-btn {
	margin-bottom: 30px;
}

.back-btn {
	margin: 0 auto;
}

.btn{
	margin-top: 50px;
}

/* 確認テーブル全体 */
.info-block {
	background-color: white;
	margin: 30px 0 30px;
	padding: 30px 40px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
}

 h2 {
    text-align: center;
  }
  
textarea {
  resize: none;      /* ← これでブラウザ上のリサイズを禁止 */
  width: 100%;        /* 幅を固定 */
  height: 100px;     /* 高さを固定 */
  box-sizing: border-box;
}
