@charset "UTF-8";

/* ヘッダー全体 */
.header {
    background-color: #e0ffff;
    position: fixed; 
  	top: 0;
  	left: 0;
  	width: 100%;
  	z-index: 1000;
}

/* ロゴとユーザー名を横並び */
.header-top {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 10px;
}

/* ナビリンクを横並び */
.header-nav {
    display: flex;
    gap: 45px; 
    justify-content: center; 
    align-items: center;
}

/* ナビリンクの色 */
.header-nav a:link,
.header-nav a:visited,
.header-nav a:hover,
.header-nav a:active {
    color: black;
}

/* ナビリンクのaタグ */
.header-nav a {
    color: black;
    text-decoration: none;
    font-size: 30px;
}