<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>登録完了</title>
  <!-- 共通・会員関連・完了画面用CSSの読み込み -->
  <link th:href="@{/css/common.css}" rel="stylesheet">
  <link th:href="@{/css/member_common.css}" rel="stylesheet">
  <link th:href="@{/css/complete.css}" rel="stylesheet">
</head>
<body>
<main>
  <div id="wrapper">
    <div class="container">
      <!-- タイトル表示 -->
      <h1>更新完了</h1>

      <!-- 完了メッセージ -->
      <div id="complete">
        <div class="message">
          <p><strong>会員情報の更新が完了しました。</strong></p><br>
        </div>
        <p>ご確認いただきありがとうございます。</p>
      </div>

      <!-- マイページへのリンク -->
      <div>
        <a th:href="@{/mypage}" class="btn">マイページへ戻る</a>
      </div>
    </div>
  </div>
</main>
</body>
</html>