<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>商品別売上</title>
		<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/css/staffheader.css}" rel="stylesheet">
		<link th:href="@{/css/staff.css}" rel="stylesheet" type="text/css">
	</head>
<body>
	<!-- 共通ヘッダーを挿入 -->
    <header th:insert="~{staffHeader :: header_area}"></header> 
    
    	<main>
    		<div id="wrapper">
				<h1>商品別売上</h1>
				 <!-- 注文履歴がない場合のメッセージ -->
	    		<div class="item-Note" th:if="${listItemSalesForm.isEmpty()}">
	        		<p>商品別売上はありません。</p>
	    		</div>
				
				<!-- 注文履歴がある場合のみテーブルを表示 -->
				<div class="table" th:if="${!listItemSalesForm.isEmpty()}">
					<!-- メッセージがある場合だけ表示 -->
					<div th:if="${message}" class="alert alert-warning message-center">
					    <p th:text="${message}"></p>
					</div>
				        <table class="info-block">
				            <tr>
				                <th>商品ID</th>
				                <th>商品名</th>
				                <th>売上数</th>
				                <th>売上</th>
				            </tr>
				            <tr th:block th:each="iSales : ${listItemSalesForm}">
			                    <td class="info-item" th:text="${iSales.itemId}"></td>
			                    <td class="info-item" th:text="${iSales.itemName}"></td>
			                    <td class="info-item" th:text="${iSales.itemQuantity}"></td>
			                    <td class="info-item" th:text="${iSales.total}"></td>
				             </tr>
				        </table>
				</div>
	
				<div class="menu-buttons">
					<a th:href="@{/staffordermenu}" class="btn">集計管理メニューに戻る</a>
					<a th:href="@{/staffmenu}" class="btn">従業員メニューに戻る</a>
				</div>
			</div>
		</main>
	<footer></footer>
	<script th:src="@{/js/ordercancel.js}"></script>
</body>
</html>