<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>次月発売予定商品</title>
  <link th:href="@{/css/common.css}" rel="stylesheet">
  <link th:href="@{/css/header.css}" rel="stylesheet">
  <link th:href="@{/css/item.css}" rel="stylesheet">
  <script th:src="@{/js/main.js}"></script>
  <script th:src="@{/js/item_card.js}"></script>
  <script th:src="@{/js/popup.js}" defer></script>
</head>
<body th:classappend="${isLogin} ? 'logged-in' : ''"  th:data-message="${popupMessage}" th:data-color="${popupColor}">

  <!-- 共通ヘッダー（ログイン状態に応じて表示内容を切り替え） -->
  <header th:insert="~{header :: header_area}"></header>

  <main>
    <div id="wrapper">
      <h1>次月発売予定商品</h1>

      <!-- 商品クリック案内メッセージ（詳細ページへの遷移を説明） -->
      <span class="item-Note">商品をクリックすると詳細ページに遷移します</span>

      <!-- 商品一覧表示エリア（検索結果の商品カードを繰り返し表示） -->
<div class="item-list">
  <div class="item-card" th:each="items : ${itemForm}" 
       th:data-url="@{/item/detail/{id}(id=${items.itemId}, from='nextMonth')}">
    <h3 th:text="${items.itemName}"></h3>
    <img th:src="@{/images/{img}(img=${items.image})}" th:alt="${items.itemName}">
    <p th:text="'¥' + ${items.itemPrice}"></p>
  </div>
</div>


  </main>
  
  <!-- 共通フッター -->
  <footer th:insert="~{footer :: footer_area}"></footer>
  
</body>
</html>