<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>発送完了</title>
    <link th:href="@{/css/common.css}" rel="stylesheet">
	<link th:href="@{/css/staff.css}" rel="stylesheet">
	<link th:href="@{/css/complete.css}" rel="stylesheet">
</head>
<body>

<!-- 共通ヘッダーを挿入 -->
<header th:insert="~{staffHeader :: header_area}"></header> 	

<main>
	<div id="wrapper">
		
		<div class="container">
			<!-- タイトル表示 -->
			<h1>発送完了</h1>

			<!-- 完了メッセージ表示 -->
			<div id="complete">
				<div class="message">
					<p><strong>発送が完了しました</strong></p><br>
				</div>
			</div>

			<div>
				<a th:href="@{/stafforder/history}" class="btn">注文履歴へ戻る</a>
			</div>
		</div>
	</div>
</main>
</body>
</html>
