<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>在庫一覧</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/staffheader.css}" rel="stylesheet">
    <link th:href="@{/css/staff.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/staffitemregist.css}" rel="stylesheet" type="text/css">
</head>
<body>

    <header th:insert="~{staffHeader :: header_area}"></header>
    <main>
		<div id="wrapper">
	        <h1>在庫一覧</h1>
	        <div class="message">
			    <strong th:text="${message}"></strong>
			</div>
			<form th:action="@{/staffstockupdate}" method="post">
				<div class="info-block">
				    <table>
				        <tr>
				            <th>商品ID</th>
				            <th>商品名</th>
				            <th>在庫</th>
				            <th>在庫変更</th>
				        </tr>
				        <th:block th:each="item, iStat : ${itemStockList}">
				            <tr>
				                <td>
				                    <input type="hidden" name="itemId" th:value="${item.itemId}" />
				                    <span th:text="${item.itemId}"></span>
				                </td>
				                <td><div class="info-item" th:text="${item.itemName}"></div></td>
				                <td th:text="${item.stock}"></td>
				                <td>
				                    <select name="stock">
				                        <option th:each="num : ${#numbers.sequence(0, 100)}"
				                                th:value="${num}"
				                                th:text="${num}"
				                                th:selected="${num.toString() == item.stock}">
				                        </option>
				                    </select>
				                </td>
				            </tr>
				        </th:block>
				    </table>
				</div>
			    <div class="menu-buttons">
			        <button type="submit" class="btn">変更を保存</button>
			        <a th:href="@{/staffitemstock}" class="back-btn">戻る</a>
			    </div>
			</form>
		</div>
    </main>
    <footer></footer>

</body>
</html>
