<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>従業員メニュー</title>
		<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/css/staffheader.css}" rel="stylesheet">
		<link th:href="@{/css/staff.css}" rel="stylesheet" type="text/css">
	</head>
<body>
	<div id="wrapper">
		<!-- 共通ヘッダーを挿入 -->
	    <header th:insert="~{staffHeader :: header_area}"></header> 
		<main>
			<h1>従業員メニュー</h1>
			<div class="menu-buttons">
				<!-- 管理者のみ表示 -->
    			<a th:if="${loginStaff.administrator == '管理者'}" th:href="@{/empinfomenu}" class="btn">従業員情報管理</a>
				
				<!-- 全員表示 -->
				<a th:href="@{/staffordermenu}" class="btn">注文管理</a>
				<a th:href="@{/staffitemstock}" class="btn">在庫管理</a>
				<a th:href="@{/staffordermenu}" class="btn">集計管理</a>
			</div>
		</main>
		<footer></footer>
	</div>
</body>
</html>