<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>注文履歴</title>
		<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/css/staffheader.css}" rel="stylesheet">
		<link th:href="@{/css/staff.css}" rel="stylesheet" type="text/css">
	</head>
<body>
	<div id="wrapper">
		<!-- 共通ヘッダーを挿入 -->
	    <header th:insert="~{staffHeader :: header_area}"></header> 
		<main>
			<h1>注文履歴</h1>
			 <!-- 注文履歴がない場合のメッセージ -->
    		<div th:if="${listOrderForm.isEmpty()}">
        		<p>注文履歴はありません。</p>
    		</div>
			
			<!-- 注文履歴がある場合のみテーブルを表示 -->
			<div th:if="${!listOrderForm.isEmpty()}">
				<table>
					<tr>
						<th>注文ID</th>
						<th>顧客名</th>
						<th>合計金額</th>
						<th>注文日</th>
						<th>ステータス</th>
						<th>操作</th>
					</tr>
					<th:block th:each="order : ${listOrderForm}">
						<tr>
							<td th:text="${order.orderId}"></td>
							<td th:text="${order.memberName}"></td>
							<td th:text="${order.total}"></td>
							<td th:text="${order.orderDate}"></td>
							<td th:text="${order.shippingFrag}"></td>

							<td>
   								<a th:href="@{/staff/orders/{id}(id=${order.orderId})}">
        						<button type="button">詳細</button>
    							</a>
							</td>
							<td>
								<button type="button" th:value="${order.orderId}" id="cancel">注文取消</button>
							</td>
						</tr>
					</th:block>
				</table>
			</div>
			<div class="menu-buttons">
				<a th:href="@{/staffordermenu}" class="btn">注文管理メニューに戻る</a>
				<a th:href="@{/staffmenu}" class="btn">従業員メニューに戻る</a>
			</div>
		</main>
		<footer></footer>
	</div>
	<script th:src="@{/js/ordercancel.js}"></script>
</body>
</html>