<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<title>在庫管理</title>
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/staffheader.css}" rel="stylesheet">
<link th:href="@{/css/staff.css}" rel="stylesheet" type="text/css">
</head>
<body>
<main>
	<div id="wrapper">
		<!-- 共通ヘッダーを挿入 -->
		<header th:insert="~{staffHeader :: header_area}"></header> 
			<h1>在庫管理メニュー</h1>
			<div class="menu-buttons">
				<a th:href="@{/staffitemstocklist}" class="btn">在庫一覧</a>
				<a th:href="@{/staffmenu}" class="btn">商品新規登録</a>
				<a th:href="@{/staffmenu}" class="btn">従業員メニューへ戻る</a>
			</div>
		<footer></footer>
	</div>
</main>
</body>
</html>