<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>従業員情報削除確認</title>
  <!-- 共通・会員登録用CSSの読み込み -->
  <link th:href="@{/css/common.css}" rel="stylesheet">
  <link th:href="@{/css/staff.css}" rel="stylesheet">
  <link th:href="@{/css/staffitemregist.css}" rel="stylesheet">
</head>
<body>
<main>
  <div id="wrapper">
	  <!-- 共通ヘッダーを挿入 -->
	    <header th:insert="~{staffHeader :: header_area}"></header> 
    <h1>従業員情報削除確認</h1>
	<!-- 登録処理用フォーム（hiddenで全データ送信） -->
	<form th:action="@{/staffdeleteDB}" method="post" th:object="${staffLoginForm}">
	  
		<!-- 個人情報の表示 -->
		<div class="info-block">
			<h2>従業員情報</h2>
			<div class="info-item">従業員ID：<span th:text="*{staffId}"></span></div>
			<div class="info-item">氏名：<span th:text="*{staffName}"></span></div>
			<div class="info-item">パスワード：<span th:text="*{password}"></span></div>
			<div class="info-item">管理者権限：<span th:text="*{administrator}"></span></div>
		</div>
			
		<!-- hiddenフィールドでデータを再送信 -->
		<input type="hidden" th:field="*{staffName}">
		<input type="hidden" th:field="*{staffId}">
		<input type="hidden" th:field="*{password}">
		<input type="hidden" th:field="*{administrator}">

		<!-- 登録処理ボタン -->
		<div class="buttons">
			<button type="submit" class="btn">削除</button>
		</div>
	</form>
	
	  	<div>
			<a th:href="@{/staffview}" class="btn">戻る</a>
	  	</div>
  </div>
</main>
</body>
</html>