<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8">
	<title>共通ヘッダー</title>
	<link th:href="@{/css/common.css}" rel="stylesheet">
	<link th:href="@{/css/header.css}" rel="stylesheet">
	<script th:src="@{/js/popup.js}"></script>
</head>
<body>
	<!-- フラグメントとして定義 -->
	<div th:fragment="header_area" th:remove="tag">
	
		<!-- ヘッダー全体 -->
		<div class="header" id="header">

  			<div class="header-nav">
				  
				<!-- ロゴ（左上） -->
				<a th:href="@{/staffmenu}">
					<!-- クリックで商品一覧画面へ遷移 -->
  					<img src="/images/logo/logo_SS_forStaff.png" alt="サイトロゴ" style="height:50px;">
   			 	</a>
				
				<!-- ログイン/ログアウト -->
	            <!-- ログイン済み時（userLoggedIn が true） -->
	            <span th:if="${loginStaff.staffName != null}">
	              <!-- ログアウト処理後、currentUrl にリダイレクト -->
	              <a th:href="@{/stafflogout}">ログアウト</a>
	            </span>
	            
	            <!-- ログイン中のみログインユーザー名表示 -->
   			 	<div th:if="${loginStaff.staffName != null}">
      				<span th:text="${loginStaff.staffName} + 'さんログイン中です'"></span>
    			</div>
			
			 </div>
		</div>
	</div>
</body>
</html>