<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8">
	<title>集計管理メニュー</title>
	<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/staffheader.css}" rel="stylesheet">
	<link th:href="@{/css/staff.css}" rel="stylesheet" type="text/css">
</head>
<body>
	
	<!-- 共通ヘッダーを挿入 -->
	<header th:insert="~{staffHeader :: header_area}"></header> 
	<main>
		<div id="wrapper">
			<h1>集計管理メニュー</h1>
			<div class="menu-buttons">
				<a th:href="@{/Sales}" class="btn">集計確認</a>
				<a th:href="@{/staffmenu}" class="btn">従業員メニューへ戻る</a>
			</div>
		</div>
	</main>
	<footer></footer>
	
</body>
</html>
